/*SERVICIO*/
.divCuatroS {
  height: 30px;
  margin-top: 30px;
}

.irInicio {
  color: white;
  background-color: black;
  border: 2px solid white;
}

.audioresto {
  margin-top: 20px;
}

/*CLIENTES*/
.div1C {
  height: 100px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 50px;
}

.tabla {
  background-color: rgba(1, 1, 100, 0.842);
  border: 2px solid black;
  color: white;
}

table tr th {
  border: 1px solid black;
}

table tr td {
  border: 1px solid black;
}

.divUnoC {
  background-color: rgba(1, 1, 100, 0.842);
  color: white;
  margin-top: 15px;
  height: 80px;
  overflow: scroll;
}

.divDosC {
  color: white;
  height: 50px;
  margin-top: 10px;
  font-size: 20px;
}

.hechaUn {
  border: 2px solid white;
  text-align: center;
}

.iframe {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*CONTACTO*/
.divDosT {
  font-family: "Big Shoulders Display";
  color: white;
  font-size: 20px;
}

.contacto {
  height: 50px;
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(20deg);
  }
}
.hacheCuatro {
  color: white;
  font-family: "Hubballi";
}

.BotonEnviar {
  color: white;
  font-family: "Hubballi";
  border: 2px solid black;
}

.hacheUnoF {
  font-family: "Hubballi";
  color: white;
  text-align: center;
  font-size: 60px;
}

.divUnoF {
  display: flex;
  flex-direction: row;
  height: 300px;
  justify-content: space-around;
}

.divDosF {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.divTresF {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*MEDIA SCREEN*/
@media screen and (max-width: 768px) {
  .div1 {
    height: 200px;
    font-size: 100px;
    color: white;
    text-align: center;
  }
  .titulo1:hover {
    transform: scale(2);
    transition: all 1s;
  }
  .div2 {
    height: 100px;
    background-color: rgba(0, 0, 139, 0.932);
    color: rgb(100, 123, 255);
    border: 3px solid black;
    padding: 20px;
  }
  .estilo1 {
    font-size: 13px;
    font-style: italic;
    animation: cambioDeColor 4s;
    text-align: center;
  }
  @keyframes cambioDeColor {
    0% {
      color: rgb(100, 123, 255);
    }
    25% {
      color: rgb(50, 79, 243);
    }
    50% {
      color: rgb(15, 43, 202);
    }
    75% {
      color: rgb(0, 23, 155);
    }
    100% {
      color: rgb(100, 123, 255);
    }
  }
  .div3 {
    height: 75px;
    background-color: rgba(0, 0, 139, 0.932);
    color: rgb(100, 123, 255);
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
  }
  .div4 {
    height: 20px;
    background-color: black;
    color: rgb(184, 184, 184);
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
  }
  .hache4 {
    font-size: 15px;
  }
  .audio {
    height: 300px;
  }
}
/*MEDIA SCREEN 320*/
@media screen and (max-width: 320px) {
  .div1 {
    height: 100px;
    font-size: 50px;
    color: white;
    text-align: center;
  }
  .div2 {
    height: 100px;
    background-color: rgba(0, 0, 139, 0.932);
    color: rgb(100, 123, 255);
    border: 3px solid black;
    padding: 15px;
  }
  .estilo1 {
    font-size: 11px;
    font-style: italic;
    animation: cambioDeColor 4s;
    text-align: center;
  }
  @keyframes cambioDeColor {
    0% {
      color: rgb(100, 123, 255);
    }
    25% {
      color: rgb(50, 79, 243);
    }
    50% {
      color: rgb(15, 43, 202);
    }
    75% {
      color: rgb(0, 23, 155);
    }
    100% {
      color: rgb(100, 123, 255);
    }
  }
  .div3 {
    height: 75px;
    background-color: rgba(0, 0, 139, 0.932);
    color: rgb(100, 123, 255);
    border: 3px solid black;
    padding: 6px;
    text-align: center;
    font-size: 10px;
    margin-top: 20px;
  }
  .div4 {
    height: 20px;
    background-color: black;
    color: rgb(184, 184, 184);
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 3px;
  }
  .hache4 {
    font-size: 10px;
  }
  .audio {
    height: 300px;
  }
  .footerDos {
    height: 20px;
    color: black;
    background-color: white;
    position: absolute;
    bottom: 0;
    font-size: 10px;
  }
}
body {
  background-image: url(../imagenesyaudio/fabricafondo.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Hubballi";
  box-sizing: border-box;
}

.sectionIndex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "imgIndex" "parIndex" "imgIndex1" "parIndex1";
}

section {
  color: white;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.568);
  display: flex;
  justify-content: flex-end;
  height: 27px;
}

header {
  background-color: #1d3461;
}
header nav div {
  display: flex;
  justify-content: flex-start;
}
header nav div a {
  color: white;
}

.sizeImg {
  height: 25px;
  width: 30px;
}

div {
  display: flex;
  justify-content: center;
}
div img {
  height: 150px;
  width: 400px;
  margin: 30px;
}

main {
  color: #6290c8;
  text-align: center;
}
main div h4 {
  background-color: #1d3461;
  text-align: center;
  padding: 10px;
}
main div p {
  background-color: #1d3461;
  height: 40px;
  padding: 5px;
}

.mainIndex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-rows: 150px 100px 20px;
}

.div1 {
  grid-column: 1/3;
  margin-top: 30px;
  margin-bottom: 30px;
}

.div2 {
  grid-column: 1/3;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer1 {
  grid-column: 1/2;
  position: absolute;
  bottom: 0;
  background-color: #1f487e;
  margin: 0;
}

/*SERVICIO*/
h1 {
  color: white;
  background-color: #1d3461;
  height: 80px;
  font-size: 70px;
  font-family: "big shoulders display";
  margin-top: 20px;
}

.divDosS {
  height: 500px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.fabrica {
  height: 500px;
  width: 800px;
}

.divTresS {
  height: 80px;
  text-align: center;
  font-size: 15px;
  font-style: italic;
  border: 2px solid rgb(2, 0, 95);
  display: flex;
  justify-content: center;
  margin-top: 30px;
  animation: cambiofondoinfinito 10s infinite;
  color: rgb(0, 0, 99);
  font-family: "roboto";
}

@keyframes cambiofondoinfinito {
  0% {
    background-color: #1d3461;
  }
  20% {
    background-color: #1f487e;
  }
  40% {
    background-color: #376996;
  }
  60% {
    background-color: #6290c8;
  }
  80% {
    background-color: #376996;
  }
  100% {
    background-color: #1f487e;
  }
}
.parrafoS {
  color: rgb(0, 0, 109);
}

.footerDos {
  background-color: #1d3461;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/*# sourceMappingURL=style.css.map */
