$sectionInfo:(
    bg-section: rgba(255, 255, 255, 0.568),
    bordes: 1px solid white,
    display: flex,
    justcont: flex-end,
    alto: 27px,
    colorletra: white,
);

$breakpoints: (
    sm : 540px,
    md: 768px,
    lg: 1024px,
);