/*MEDIA SCREEN*/

@media screen and (max-width: 768px) {
    
    .div1{
        height: 200px;
        font-size: 100px;
        color: white;
        text-align: center;
    }
    
    .titulo1:hover{
        transform: scale(2);
        transition:all 1s;
    }
    
    
    .div2{
        height: 100px;
        background-color: rgba(0, 0, 139, 0.932);
       color: rgb(100, 123, 255);
       border: 3px solid black;
       padding: 20px;
    }
    
    .estilo1{
        font-size: 13px;
        font-style: italic;
        animation: cambioDeColor 4s;
        text-align: center;
    }
    
    @keyframes cambioDeColor{
        0%{
            color: rgb(100, 123, 255);
        }
    
        25%{
            color: rgb(50, 79, 243);
        }
    
        50%{
            color: rgb(15, 43, 202);
        }
    
        75%{
            color: rgb(0, 23, 155);
        }
    
        100%{
            color: rgb(100, 123, 255);
        }
    }
    
    .div3{
        height: 75px;
        background-color:rgba(0, 0, 139, 0.932);
        color: rgb(100, 123, 255);
        border: 3px solid black;
        padding: 10px;
        text-align: center;
        font-size: 12px;
        margin-top: 20px;
    }
    
    .div4{
        height: 20px;
        background-color: black;
        color: rgb(184, 184, 184);
        display: flex;
        justify-content: flex-start;
        margin-top: 50px;
    }
    
    .hache4{
        font-size: 15px;
    }
    
    
    .audio{
        height: 300px;
    }
}

/*MEDIA SCREEN 320*/

@media screen and (max-width: 320px) {
    
    .div1{
        height: 100px;
        font-size: 50px;
        color: white;
        text-align: center;
    }  
    
    .div2{
        height: 100px;
        background-color: rgba(0, 0, 139, 0.932);
       color: rgb(100, 123, 255);
       border: 3px solid black;
       padding: 15px;
    }
    
    .estilo1{
        font-size: 11px;
        font-style: italic;
        animation: cambioDeColor 4s;
        text-align: center;
    }
    
    @keyframes cambioDeColor{
        0%{
            color: rgb(100, 123, 255);
        }
    
        25%{
            color: rgb(50, 79, 243);
        }
    
        50%{
            color: rgb(15, 43, 202);
        }
    
        75%{
            color: rgb(0, 23, 155);
        }
    
        100%{
            color: rgb(100, 123, 255);
        }
    }
    
    .div3{
        height: 75px;
        background-color:rgba(0, 0, 139, 0.932);
        color: rgb(100, 123, 255);
        border: 3px solid black;
        padding: 6px;
        text-align: center;
        font-size: 10px;
        margin-top: 20px;
    }
    
    .div4{
        height: 20px;
        background-color: black;
        color: rgb(184, 184, 184);
        display: flex;
        justify-content: center;
        margin-top: 50px;
        padding: 3px;
    }
    
    .hache4{
        font-size: 10px;
    }
    
    
    .audio{
        height: 300px;
    }

    .footerDos{
        height: 20px;
        color: black;
        background-color: white;
        position: absolute;
        bottom: 0;
        font-size: 10px;
    }
}