body{
        background-image: url(../imagenesyaudio/fabricafondo.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family:'Hubballi';
    }
    
    header{
        background-color: $color-c;
        a{
            color: $text-color;
        }
    }
    
    section{
         div{
            
             h1{
             color: $color-c4;
            Font-size: nth($size , 9);
            text-align: center;
            font-family: 'Source Sans Pro';
                }
            h4{
                color: $text-color1;
                background-color: $bg-darkblue;
                text-align: center;
                font-size: nth($size , 1);
                margin-top: 70px;
             }
             p{
                color: $text-color;
                text-align: center;
                background-color: $bg-darkblue;
                margin-top: 100px;
                width: 150px;
                display: flex;
                
            }    
         }
    }
    
    footer{
        color: $text-color;
        background-color: $bg-darkblue;
        display: flex;
        justify-content: flex-start;
    }

    