body{
        background-image: url(../imagenesyaudio/fabricafondo.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family:'Hubballi';
        box-sizing: border-box;
        
    }
    
    .sectionIndex{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr; 
        grid-template-areas: 
        "imgIndex" "parIndex" "imgIndex1" "parIndex1";
            }

    section{
        background-color: map-get($sectionInfo , bg-section );
        border: map-get($sectionInfo , bordes );
        display: map-get($sectionInfo , display );
        justify-content: map-get($sectionInfo , justcont );
        height: map-get($sectionInfo , alto );
        color: map-get($sectionInfo , colorletra );
            
    }
    
    header{
        background-color: $color-c;
        nav{
            div{
                display: flex;
                justify-content: flex-start;
                a{
                    color: $text-color;
                }
            }
        }
    }

    .sizeImg{
        height: 25px;
        width: 30px;
    }        
    
    
    div{
        display: flex;
        justify-content: center;
        img{
            height: 150px;
            width: 400px;
            margin: 30px;
        }
    }
    
    main{
        color: $color-c3;
        text-align: center;
        div{
            h4{
                background-color: $color-c;
                text-align: center;
                padding: 10px;
            }
            p{
                background-color: $color-c;
                height: 40px;
                padding: 5px;
            }
        }
    }

    .mainIndex{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-rows: 150px 100px 20px;
    }

    .div1{
        grid-column: 1/3;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .div2{
        grid-column: 1/3;
        margin-top: 100px;
        margin-bottom: 30px;
    }

    .footer1{
        grid-column: 1/2;
        position: absolute;
        bottom: 0;
        background-color: $color-c1;
        margin: 0;

    }

    .fondos1{
        @include fondos1()
    }

    /*SERVICIO*/    

    h1{
        color: white;
        height: 80px;
        font-size: 70px;
        font-family: 'big shoulders display';
        margin-top: 20px;
        }


    .divServicio{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-rows: 100px 500px 100px 100px 20px;

   }

   .h1Servicio{
    margin-left: 10px;
    grid-row: 1/2; 
   }

   .imagenesServicio{
    grid-row: 2/3;
    height: 500px;
    display: flex;
    align-items: center;
    overflow: hidden;
   }

    .imagen1{
    overflow: hidden;
    height: 300px;
    border: 2px solid white;
        }

   .imagen1:hover{
        -webkit-transform:scale(1.3);transform:scale(1.3);
    }

       
    .divServicio1{
        grid-row: 3/4;
        background-color: $color-c;
        height: 80px;
        padding: 5px;
        color: white;
        text-align: center;
    }

    .irInicio{
        grid-row: 4/5;
        border: 1px solid white;
        height: 25px;
        color: white;
        background-color: $color-c;
    }


/*CLIENTES*/

.divClientes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-rows: 110px 230px 150px;

} 

.h1Clientes{
    height: 100px;
    margin-left: 20px ; 
    grid-row: 1/2; 
    grid-column: 1/4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 110px
}

.estiloTabla{
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 30px;
    background-color: $color-c;
    color: white;
    
    
   }

   th{
    border: 1px solid white;
   }
   td{
    border: 1px solid white;
   }

.div1C{   
    grid-column: 1/4;
    grid-row: 3/4;
    background-color: $color-c4;
    height: 90px;
    margin-top: 20px;
    text-align: center;
    color: $color-c;
    padding: 10px;
    border: 2px solid $color-c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 20px;
 }

.div2C{
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    text-decoration:underline overline;
    
}

.iframe{
    grid-column: 1/2;
    grid-row: 5/6;
    margin-top: 10px; 
}

.div3C{
    grid-row: 6/7;
    grid-column: 2/3;
}

/*CONTACTO*/


.formulario{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    }

    .colorForm{
        color: white;
    }

    .divDosT{
        color: white;
    }

    .h1Contacto{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 80px;
        margin-top: 20px;
    }
    .hacheCuatro{
        color: white;
        font-family: 'Hubballi';
        border: 2px solid white;
    }

    .BotonEnviar{
        border: 2px solid white;
        margin: 30px;
        background-color: $color-c3;
    }

    /*FINAL*/

    .gracias{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-rows: 100px 300px 300px;
    }

    .hache1F{
        text-align: center;
        grid-row: auto;

    }

    .div1F{
        grid-row: auto;           
    }

    .gift{
        height: 300px;
    }

    .div2F{
        grid-row: 3/4;
        display: flex;
        justify-content: center;
        align-items: center;
    }